@using BitirmeProjesi.Models.Sınıflar
@model List<HomeHakkinda>

<section id="about" class="about">
    <div class="container">
        @foreach(var x in Model) {
        <div class="row no-gutters">
            <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-right">
                <div class="content">
                    <h3>@x.Baslik</h3>
                    <p>
                        @x.Aciklama
                    </p>
                    
                </div>
            </div>
            <div class="col-xl-7 d-flex align-items-stretch" data-aos="fade-left">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-receipt"></i>
                            <h4>@x.Baslik1</h4>
                            <p>@x.Aciklama1</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-pencil"></i>
                            <h4>@x.Baslik2</h4>
                            <p>@x.Aciklama2</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-message-alt-edit"></i>
                            <h4>@x.Baslik3</h4>
                            <p>@x.Aciklama3</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-bookmark"></i>
                            <h4>@x.Baslik4</h4>
                            <p>@x.Aciklama4</p>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>
        }
    </div>
</section>
