@model BitirmeProjesi.Models.Sınıflar.AYTDeneme
@{
    ViewBag.Title = "AYTDenemeTasi";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<title>AYT Deneme Sonucu Güncelle</title>
<div style="background-color: white; border-radius: 5px; margin-top: 30px; margin-left:60px; margin-right:60px ">
    <p style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans- serif; font-size: 20px; color: #8789FF;margin-top:14px; ">
        AYT Deneme Sonucu Güncelle
    </p>
</div>

@using (Html.BeginForm("AYTDenemeGuncelle", "Deneme", FormMethod.Post))

{
    @Html.HiddenFor(x => x.ID)
    @*Sol kısım*@
    <div class="form-group" style="margin-left:60px;">
        <br />
        <div style=" width: 525px; height:100px; background-color:#E9ECEF  ">
            <div style="margin-top:5px;">
                <p style="font-family:Corbel;font-size:20px; text-align:center;">Türkçe Net</p>
            </div>
            <div style="margin-left:50px; margin-right:50px;">
                @Html.TextBoxFor(x => x.EdebNet, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div style=" width: 525px; height:100px; background-color:#E9ECEF  ">
            <div style="margin-top:5px;">
                <p style="font-family:Corbel;font-size:20px; text-align:center;">Sosyal Net</p>
            </div>
            <div style="margin-left:50px; margin-right:50px;">
                @Html.TextBoxFor(x => x.SosNet, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div style=" width: 525px; height:100px; background-color:#E9ECEF  ">
            <div style="margin-top:5px;">
                <p style="font-family:Corbel;font-size:20px; text-align:center;">Matematik Net</p>
            </div>
            <div style="margin-left:50px; margin-right:50px;">
                @Html.TextBoxFor(x => x.MatNet, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div style=" width: 525px; height:100px; background-color:#E9ECEF  ">
            <div style="margin-top:5px;">
                <p style="font-family:Corbel;font-size:20px; text-align:center;">Fen Net</p>
            </div>
            <div style="margin-left:50px; margin-right:50px;">
                @Html.TextBoxFor(x => x.FenNet, new { @class = "form-control" })
            </div>
        </div>
        <br />
    </div>

    @*Sağ kısım*@

    <div class="form-group" style="margin-left:675px;margin-right:50px;margin-top:-535px;">
        <br />
        <div style=" width: 525px; height:100px; background-color:#E9ECEF  ">
            <div style="margin-top:5px;">
                <p style="font-family:Corbel;font-size:20px; text-align:center;">Toplam Net</p>
            </div>
            <div style="margin-left:50px; margin-right:50px;">
                @Html.TextBoxFor(x => x.TopNet, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div style=" width: 525px; height:100px; background-color:#E9ECEF  ">
            <div style="margin-top:5px;">
                <p style="font-family:Corbel;font-size:20px; text-align:center;">Puan</p>
            </div>
            <div style="margin-left:50px; margin-right:50px;">
                @Html.TextBoxFor(x => x.Puan, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div style=" width: 525px; height:100px; background-color:#E9ECEF  ">
            <div style="margin-top:5px;">
                <p style="font-family:Corbel;font-size:20px; text-align:center;">Yayın</p>
            </div>
            <div style="margin-left:50px; margin-right:50px;">
                @Html.TextBoxFor(x => x.Yayın, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div style=" width: 525px; height:100px; background-color:#E9ECEF  ">
            <div style="margin-top:5px;">
                <p style="font-family:Corbel;font-size:20px; text-align:center;">Tarih</p>
            </div>
            <div style="margin-left:50px; margin-right:50px;">
                @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
            </div>
        </div>
        <br />

    </div>
    <div style="text-align:center">
        <a class="btn btn-secondary" style="width:125px; height:40px;" href="/Deneme/AYTDenemeListele/"> Geri </a>
        <button class="btn btn-success" style="width:125px; height:40px;">Güncelle</button>
    </div>
}

