@using BitirmeProjesi.Models.Sınıflar
@model List<TYTDeneme>
@{
    ViewBag.Title = "TYTDenemeListele";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<title>TYT Deneme Sonuçları</title>
<div style="background-color: white; border-radius: 5px; margin-top: 30px; margin-left:25px; margin-right:25px ">
    <p style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans- serif; font-size: 20px; color: #8789FF;margin-top:14px; ">
        TYT Deneme Sonuçları
    </p>
</div>


<div style="margin-top:30px; margin-right:25px;margin-left:25px;background-color:white;">
    <table class="table" style="margin-top:30px; text-align:center;">
        <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Türkçe Net</th>
                <th>Sosyal Net</th>
                <th>Matematik Net</th>
                <th>Fen Net</th>
                <th>Toplam Net</th>
                <th>Puan</th>
                <th>Yayın</th>
                <th>Tarih</th>
                <th>Düzenle</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.ID</td>
                    <td>@x.TurkNet</td>
                    <td>@x.SosNet</td>
                    <td>@x.MatNet</td>
                    <td>@x.FenNet</td>
                    <td>@x.TopNet</td>
                    <td>@x.Puan</td>
                    <td>@x.Yayın</td>
                    <td>@x.Tarih</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Deneme/TYTDenemeTasi/@x.ID"><i class="bx bx-edit-alt me-1"></i> Düzelt</a>
                                <a class="dropdown-item" href="/Deneme/TYTDenemeSil/@x.ID"><i class="bx bx-trash me-1"></i> Sil</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div style="text-align:center; border-radius:50px; margin-top:20px; margin-right:500px;">
    <a class="btn rounded-pill btn-outline-primary" href="/Deneme/TYTDenemeEkle/" style="margin-left:500px;">Yeni Deneme Sonucu Ekle</a>
</div>




